@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Untuk Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(28, 28, 28, 0.25);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(28, 28, 28, 0.4);
}
.css-1n7v3ny-option::-webkit-scrollbar {
    width: 8px;
  }
  
  .css-1n7v3ny-option::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .css-1n7v3ny-option::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .css-1n7v3ny-option::-webkit-scrollbar-thumb:hover {
    background: #555;
  }